{% extends 'base2.html' %}
{% block title %} Django Projects
{% endblock title %}


{% block djangoactive %}
menu-active
{% endblock djangoactive %}
{% block body %}
{% load static %}
<section id="intro" style="background: url('static/img/bg/django.jpg') top center;width: 100%;height: 100vh;  
  background-size: cover; overflow: hidden; position: relative;">
    <div class="intro-container wow fadeIn">
        <h1 class="mb-4 pb-0">My<br><span> Projects</span> </h1>
        <p class="mb-4 pb-0">My all Django and Python Projects  with source code</p>
        {% comment %} <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4"
            data-vbtype="video" data-autoplay="true"></a> {% endcomment %}
        <a href='#' class="about-btn scrollto">Scroll Down</a>
    </div>
</section>
{% static 'img/djangoProjects' as baseurl %}
<div class="container text-center my-4 myworksample px-0">
    <h1 class="mb-5">My-Work</h1>
    <p>I am learning some new things and trying to improve all my previous work  .
        which are listed below you can visit each of my template just click on it and check it right now</p>
</div>
<div class="container">
    <div class="row  mx-auto mt-2" id="mycards">
        <!-- cards will appear hre by js -->
        <div class="col col-lg-4 my-1 ">
            <div class="card" style="width: 18rem;background-color:#6eff0085">
                <img src="{{baseurl}}/face.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#">
                        <h5 class="card-title">Smart Attendance System</h5>
                    </a>
                    <p class="card-text">1- Python and Django for attendance tracking.<br>
                        2- Automated attendance recording and management.<br>
                        3- Real-time data updates and reporting.<br>
                        4- User-friendly web interface for interaction.<br>
                        5- Scalable and customizable for various organizations.<br>
                    </P>
                    <a href="https://github.com/Sksoyabakhtar/Smart_Attendance_System"
                        class="btn btn-primary">Source Code</a>
                </div>
            </div>
        </div>
        <div class="col col-lg-4 my-1">
            <div class="card" style="width: 18rem;background-color:#6eff0085">
                <img src="{{baseurl}}/emp.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#">
                        <h5 class="card-title">Office Employee Management System</h5>
                    </a>
                    <p class="card-text">1- Python and Django-based office employee system.<br>
                        2- Features: Employee add, filter, view, and remove.<br>
                        3- Streamlined employee data management.<br>
                        4- Enhanced productivity and data accessibility.<br>
                        5- Scalable and customizable for office needs.<br>
                    </p>
                    <a href="https://github.com/Sksoyabakhtar/Employee_Management_System"
                        class="btn btn-primary">Source Code</a>
                </div>
            </div>
        </div>
        <div class="col col-lg-4 my-1">
            <div class="card" style="width: 18rem;background-color:#6eff0085">
                <img src="{{baseurl}}/dj.avif" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#">
                        <h5 class="card-title">My PortFolio</h5>
                    </a>
                    <p class="card-text">1. Personal Profile: Showcase work experience and education.<br>
                        2. Project Showcase: Display all your completed projects.<br>
                        3. Contact Form: Easily connect with visitors.<br>
                        4. Interactive Website: Engage users with dynamic content.<br>
                        5. Python-Powered: Developed using Django for robustness.<br>
                    </p>
                    <a href="https://github.com/Sksoyabakhtar/Portfolio"
                        class="btn btn-primary">Source Code</a>
                </div>
            </div>
        </div>
        <div class="col col-lg-4 my-1">
            <div class="card" style="width: 18rem;background-color:#6eff0085">
                <img src="{{baseurl}}/download.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#">
                        <h5 class="card-title">Puddle-Marketplace</h5>
                    </a>
                    <p class="card-text">1- Python/Django Puddle Marketplace Development.<br>
                        2- User-friendly UI for Puddle Marketplace.<br>
                        3- Efficient Database Management with Django.<br>
                        4- Scalable Puddle Marketplace Backend.<br>
                        5- Real-time Updates and Notifications.<br>
                    </p>
                    <a href="https://github.com/Sksoyabakhtar/Puddle-marketplace"
                        class="btn btn-primary">Source Code</a>
                </div>
            </div>
        </div>

        

       
    </div>
</div>

{% endblock body %}