  <!--==========================
    Footer
  ============================-->
  <footer id="footer"> 

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Sksoyabakhtar</strong>. All Rights Reserved
      </div>
      
      <div class="col-12 mx-auto">
        <div class="social-links   col-lg-3 col-sm-12 mx-auto my-2">
          <a href="https://github.com/Sksoyabakhtar?tab=repositories" class="twitter ms-3"><i class="fa fa-github"></i></a>
          <a href="https://www.facebook.com/login/" class="facebook ms-3"><i
              class="fa fa-facebook"></i></a>
          <a href="https://www.instagram.com/" class="instagram ms-3"><i class="fa fa-instagram"></i></a>
          <a href="https://www.google.com/" class="google-plus ms-3"><i class="fa fa-google"></i></a>
          <a href="https://www.linkedin.com/in/sk-soyab-akhtar" class="linkedin ms-3"><i
              class="fa fa-linkedin"></i></a>

        </div>
      </div>
    </div>
  </footer><!-- #footer -->
